body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.icon {
    width: 100px;
    height: 100px;
    fill: #3f51b5; 
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.home-icon:hover {
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}


.settings-icon {
    transform-origin: center; 
}

.settings-icon:hover {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.cloud-icon:hover {
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0);
    }
}
